@import './tailwind.css';
@import './theme.css';
@import './fonts.css';

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #D4932D;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C2841F;
}